<title>Contact Us</title>

<% if (authenticated) { %>
    <%- include('header-registered.ejs',{Firstname: name}) %>
<% }else{ %>
    <%- include('header.ejs') %>
<% } %>
<!-- page title -->
<!--================================
=            Page Title            =
=================================-->

<section class="gback2">
<div>
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            

            <div class="col-lg-6 d-none d-lg-block"><img
                    
                    src="/images/contact-us/mail.gif"
                    alt="" class="img-fluid" style="max-width: 78%;"></div>
                    <div class="col-lg-6">
                        <h1 class="display-4">Contact Us</h1>
    
                    </div>
        </div>
    </div>
</div>
<!-- page title -->

<!-- contact us start-->
<section class="section" style="padding: 10px;">
    <div class="wrapper fadeInDown">
        <div id="formContent" style="max-width: 1500px;">
        <div class="row" style="padding: 50px;">
            <div class="col-md-6">
                <div class="contact-us-content p-4">
                    <h5>Contact Us</h5>
                    <h1 class="pt-3">Hello, what's on your mind?</h1>
                    <p class="pt-3 pb-5" style="font-size: 20px;">Send us a message and tell us if you have any concerns or questions and we will do our best to help you in the best way we can!</p>
                </div>
            </div>
            <div class="col-md-6">
                    <form action="mailto:support@labelml.com" >
                        <fieldset class="p-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 py-2">
                                        <input type="text" placeholder="Name *" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6 pt-2">
                                        <input type="email" placeholder="Email *" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <select name="" id="" class="form-control w-100">
                                <option value="1">Select Category</option>
                                <option value="1">General Help</option>
                                <option value="1">Submitting Jobs</option>
                                <option value="1">Creating Jobs</option>
                                <option value="1">Other</option>
                            </select>
                            <textarea name="message" id=""  placeholder="Message *" class="border w-100 p-3 mt-3 mt-lg-4"></textarea>
                            <div class="btn-group">
                                <button type="submit" class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test" style="display: initial;">Submit</button>
                            </div>
                        </fieldset>
                    </form>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- contact us end -->
</section>
<% if (authenticated) { %>
    <%- include('footer.ejs') %>
<% }else{ %>
    <%- include('footer-unregistered.ejs') %>
<% } %>