<title>Create Job</title>

<%- include('header-registered.ejs',{Firstname: name}) %>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



  <section class="py-5 gback3">
    <div class="wrapper fadeInDown">
      <div class="row justify-content-center">
        <div class="align-item-center">
          <div id="formContent2" style="padding: 0px;">
            <form id="form" action="/create-job" method="POST" enctype="multipart/form-data">
              <!-- Post Your ad start -->
              <fieldset class=" border-gary p-4 mb-5">
                <div class="row">
                  <div class="col-lg-12">
                    <h3>Post Your Job</h3>
                  </div>
                  <div class="col-lg-6">
                    <h6 class="font-weight-bold pt-4 pb-1">Title Of Job:</h6>
                    <input type="text" class="type-1 border w-100 p-2 bg-white text-capitalize"
                      placeholder="Write your job title" name="title" maxlength="20" required>
                    <h6 class="font-weight-bold pt-4 pb-1">Description:</h6>
                    <textarea name="description" id="" class="type-1 border p-3 w-100" rows="7"
                      placeholder="Write details about your job" maxlength="280" required></textarea>
                    <h6 class="font-weight-bold pt-4 pb-1">Add the labels you would like to be used:</h6>

                    <td>
                      <ul class="list-group" id="list"></ul>
                      <input type="text" id="candidate" />
                      <!-- <input type="text" name="labels" id="addLabel" /> -->
                      <a type="button"
                        class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test"
                        style="display: initial;padding: 8px 10px!important; cursor: pointer;" value=""
                        onclick="addLabel()">
                        Add Label</a>
                    </td>

                    <script>
                      var totalLabels = 0;
                      function addLabel() {
                        const deleteButton = document.createElement('button')
                        deleteButton.addEventListener('click', event => {
                          totalLabels -= 1;
                          a.removeChild(li)
                        })
                        console.log(totalLabels)
                        if (totalLabels < 5) {


                          var a = document.getElementById("list");
                          var candidate = document.getElementById("candidate");
                          var li = document.createElement("li");
                          deleteButton.innerText = 'x'
                          deleteButton.className = "close"

                          li.setAttribute('name', candidate.value)
                          li.className = "list-group-item"
                          li.appendChild(document.createTextNode(candidate.value));

                          const input = document.createElement("input")
                          input.setAttribute("name", "labels")
                          input.setAttribute("type", "hidden")
                          input.value = candidate.value
                          li.appendChild(input)
                          li.appendChild(deleteButton)

                          if (candidate.value != "") {
                            a.appendChild(li);

                            candidate.value = ""
                          }
                          else {
                            alert("Label field cannot be blank");
                          }
                          totalLabels += 1
                        }
                        else {
                          alert("You cannot have more than 5 labels on a batch of images")
                        }
                      }
                    </script>

                  </div>
                  <div class="col-lg-6" style="padding-right: 0px;">

                    <div>
                      <h6 class="font-weight-bold pt-4 pb-1">Job Credits and Labellers:</h6>
                      <div class="row px-3"
                        style="align-items: center; padding-right: 0px!important; box-sizing: inherit!important; justify-content: center;">
                        <div class="col-lg-4 mr-lg-4 rounded bg-white my-2 " style="flex: 0 0 1; display: contents;"
                          onchange="calculateTotal()">
                          <input type="number" pattern="[0-9]" min="1" max="10" name="labellers"
                            class="type-1 border py-2" placeholder="No. of Labellers" id="labellers" required
                            style="width: 140; margin-right: inherit;">
                          <input type="number" pattern="[0-9]" min="1" max="5000" name="credits"
                            class="type-1 border py-2" placeholder="Credits per labeller" id="credits" required
                            style="width: 160;" onchange="calculateTotal()">


                          <script>

                            function calculateTotal() {
                              var maxCredits = document.getElementById("maxCredits");
                              var creditsPerLabeller = document.getElementById("credits").value;
                              var labellers = document.getElementById("labellers").value;

                              maxCredits = creditsPerLabeller * labellers;

                              document.getElementById("maxCredits").innerText = "Maximum Assigned Credits: " + maxCredits;

                            }

                          </script>
                        </div>


                      </div>
                      <label style="font-size: large; padding: 10px;" id="maxCredits">Maximum Assigned Credits:
                        0</label>

                    </div>
                    <h6 class="font-weight-bold pt-4 pb-1">Upload Images:</h6>
                    <div class="container-fluid choose-file text-center my-4 py-4 rounded">
                      <label for="file-upload">
                        <span class="d-block font-weight-bold text-dark">Drop files anywhere to upload</span>
                        <span class="d-block">or</span>
                        <input type="file" class="form-control-file d-none" id="file-upload" name="image" multiple
                          required>
                        <div class="container">
                          <a class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test"
                            style="display: initial;" href="javascript:void(0)"
                            onclick="$('#file-upload').click()">Upload Image</a>
                          <div class="d-flex rounded flex-wrap preview-images-zone" style="margin-top: 1.5rem;"> </div>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class=" text-center">

                  <button type="submit"
                    class="py-3 px-5 btn-grad text-white border-0 rounded font-weight-bold mt-3 popover-test"
                    style="display: initial;">Post
                    Your Job</button>
                </div>
          </div>

        </div>
        </fieldset>
 
        </form>
      </div>

      <script>
        $(document).ready(function () {
          document.getElementById('file-upload').addEventListener('change', readImage, false);

          // $(".preview-images-zone").sortable();

          $(document).on('click', '.image-cancel', function () {
            let no = $(this).data('no');
            $(".preview-image.preview-show-" + no).remove();
          });
        });


        var num = 0;
        function readImage() {
          if (window.File && window.FileList && window.FileReader) {
            var files = event.target.files; //FileList object
            var output = $(".preview-images-zone");

            for (let i = 0; i < files.length; i++) {
              var file = files[i];
              if (!file.type.match('image')) continue;

              var picReader = new FileReader();

              picReader.addEventListener('load', function (event) {
                var picFile = event.target;
                var html = '<div class="preview-image preview-show-' + num + '">' +
                  '<div class="image-cancel" data-no="' + num + '">x</div>' +
                  '<div class="image-zone"><img id="pro-img-' + num + '" src="' + picFile.result + '"></div>' +
                  '<div class="tools-edit-image"></div>' +
                  '</div>';

                output.append(html);
                num = num + 1;
              });

              picReader.readAsDataURL(file);
            }
            $("#pro-image").val('');
          } else {
            console.log('Browser not support');
          }
        }
        var i = 0;
        function move() {
          if (i == 0) {
            i = 1;
            var elem = document.getElementById("myBar");
            var width = 10;
            var id = setInterval(frame, 10);
            function frame() {
              if (width >= 100) {
                clearInterval(id);
                i = 0;
              } else {
                width++;
                elem.style.width = width + "%";
                elem.innerHTML = width + "%";
              }
            }
          }
        }


      </script>

      <style>
        .preview-images-zone {
          width: 100%;
          border: 1px solid #ddd;
          min-height: 180px;
          display: flex;
          padding: 5px 5px 0px 5px;
          position: relative;
          overflow: auto;
        }

        .preview-images-zone>.preview-image {
          height: 90px;
          width: 90px;
          position: relative;
          margin-right: 5px;
          float: left;
          margin-bottom: 5px;
        }

        .preview-images-zone>.preview-image>.image-zone {
          width: 100%;
          height: 100%;
        }

        .preview-images-zone>.preview-image>.image-zone>img {
          width: 100%;
          height: 100%;
        }

        .preview-images-zone>.preview-image>.tools-edit-image {
          position: absolute;
          z-index: 100;
          color: #fff;
          bottom: 0;
          width: 100%;
          text-align: center;
          margin-bottom: 10px;
          display: none;
        }

        .preview-images-zone>.preview-image>.image-cancel {
          font-size: 18px;
          position: absolute;
          top: 0;
          right: 0;
          font-weight: bold;
          margin-right: 10px;
          cursor: pointer;
          display: none;
          z-index: 100;
        }

        .preview-image:hover>.image-zone {
          /* cursor: pointer; */
          opacity: .5;
        }

        .preview-image:hover>.tools-edit-image,
        .preview-image:hover>.image-cancel {
          display: block;
          cursor: pointer;
        }

        .ui-sortable-helper {
          width: 90px !important;
          height: 90px !important;
        }

      </style>
    </div>
    </div>
    </div>
  </section>
  <%- include('footer.ejs') %>