<% if (authenticated) { %>
    <%- include('header-registered.ejs',{Firstname: name}) %>
        <% }else{ %>
            <%- include('header.ejs') %>
                <% } %>
                    <div class="container  ">
                        <div class="row m-10">



                            <div id="image-section" class="col-9 " >
                                <div class="row ">
                                    <div id="main-preview-image-section" class="container "
                                        >
                                        <img id="main-image" src="/images/bg12.jpg" alt="Some Preview Image"> </div>
                                </div>
                                <div id="small-image-preview-section" class="row d-flex justify-content-start overflow-auto">
                                    <!-- This is where image previews will go -->
                                        <div >
                                            <!-- these images are just placeholders and will
                                            be filled with ejs content and be dynamically sized with an infinite scrollbar -->
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Snow" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Forest" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        <div>
                                          <img id="tiny-image" src="/images/bg12.jpg" alt="Mountains" >
                                        </div>
                                        
                                </div>
                            </div>
                            
                            <div id="Labels-section" class="col-3 p-20 d-flex align-middle flex-column " > Labels
                                <div class="container align-middle ">

                                    <button type="button" class="btn btn-outline-secondary btn-lg">Label</button>
                                    <button type="button" class="btn btn-outline-secondary btn-lg">Label</button>
                                    <button type="button" class="btn btn-outline-secondary btn-lg">Label</button>
                                    <button type="button" class="btn btn-outline-secondary btn-lg">Label</button>
                                    <button type="button" class="btn btn-outline-secondary btn-lg">Other</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <style>
                        body {
                            
                            justify-content: center;
                            font-size: 200%;
                            margin-top: 1rem;
                            margin-bottom: 1rem;
                            text-align: center;
                        }
                        #tiny-image{
                            border-radius: 10px;
                            border: rgb(0, 0, 0);
                            border-style: solid;
                            margin: 1rem;
                            max-height: 3rem;
                        }

                        
                        #main-image{
                            justify-content: center;
                            max-width: 48rem;
                            border-radius: 20px;
                            border: rgb(0, 0, 0);
                            resize: both;
                            border-style: solid;
                            margin: 2rem;
                        }
                        #small-image-preview-section{
                            min-height: 200px;
                            max-height: 300px;
                        }

                        #image-section{
                            
                        }

                    </style>

                    <% if (authenticated) { %>
                        <%- include('footer.ejs') %>
                            <% }else{ %>
                                <%- include('footer-unregistered.ejs') %>
                                    <% } %>