<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/transitions.css" />

  <!-- FAVICON -->
  <link href="/images/favicon.png" rel="shortcut icon">
  <!-- PLUGINS CSS STYLE -->
  <!-- <link href="/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap-slider.css">
  <!-- Font Awesome -->
  <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Owl Carousel -->
  <link href="/plugins/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
  <!-- Fancy Box -->
  <link href="/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
  <link href="/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  <!-- CUSTOM CSS -->


</head>

<body>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light navigation">
            <a class="navbar-brand" href="/">
              <img src="/images/label-logo.png" alt="label.ml">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto main-nav ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown dropdown-slide">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Create
                    Work<span><i class="fa fa-angle-down"></i></span>
                  </a>

                  <!-- Dropdown list -->
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/how-to-page">How to submit jobs</a>
                    <a class="dropdown-item" href="/login">Post a Data Labelling Job</a>
                    <!-- <a class="dropdown-item" href="dashboard.html">Dashboard</a>
                    <a class="dropdown-item" href="dashboard-my-ads.html">Dashboard My Ads</a>
                    <a class="dropdown-item" href="dashboard-favourite-ads.html">Dashboard Favourite Ads</a>
                    <a class="dropdown-item" href="dashboard-archived-ads.html">Dashboard Archived Ads</a>
                    <a class="dropdown-item" href="dashboard-pending-ads.html">Dashboard Pending Ads</a> -->
                  </div>
                </li>
                <li class="nav-item dropdown dropdown-slide">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Find Work <span><i class="fa fa-angle-down"></i></span>
                  </a>
                  <!-- Dropdown list -->
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/how-it-works">How it works</a>
                    <a class="dropdown-item" href="/available-jobs">Find a Data Labelling Job</a>

                    <!-- <a class="dropdown-item" href="about-us.html">About Us</a>
                    <a class="dropdown-item" href="contact-us.html">Contact Us</a>
                    <a class="dropdown-item" href="user-profile.html">User Profile</a>
                    <a class="dropdown-item" href="404.html">404 Page</a>
                    <a class="dropdown-item" href="package.html">Package</a>
                    <a class="dropdown-item" href="single.html">Single Page</a>
                    <a class="dropdown-item" href="store.html">Store Single</a>
                    <a class="dropdown-item" href="single-blog.html">Single Post</a>
                    <a class="dropdown-item" href="blog.html">Blog</a> -->

                  </div>
                </li>

                <!---- <li class="nav-item dropdown dropdown-slide">
                  <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Profile <span><i class="fa fa-angle-down"></i></span>
                  </a>
                  <!-- Dropdown list 
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/dashboard">Dashboard</a>
                    <a class="dropdown-item" href="/user-profile">Edit Profile</a>
                  </div>
                </li> -->

                <li class="nav-item dropdown dropdown-slide">
                  <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    About us <span><i class="fa fa-angle-down"></i></span>
                  </a>
                  <!-- Dropdown list -->
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/about-us">Our Company & Ethos</a>
                    <a class="dropdown-item" href="/contact-us">Contact Us</a>
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto mt-10">
                <li class="nav-item">
                  <a class="nav-link login-button" href="/login" style="border-radius: 10px; border-color: #9733ee; color: #9733ee;">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white btn-grad" href="/register" style="padding-left: 1rem; padding-right: 1rem; padding-top: .5rem; padding-bottom: .5rem;"><i class="fa fa-user-o"></i> Register</a>
                  <!-- <a class="nav-link text-white add-button" href="ad-listing.html"><i class="fa fa-plus-circle"></i> Add Listing</a> -->
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>