<title>Home</title>
<section class="hero-area bg-ml text-center overly" >
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Header Contetnt -->
        <div class="content-block" style="padding-bottom: 0px;">
          <h1>Crowd Sourced Data Labelling Marketplace for ML</h1>
          <p>‎‎‎‏‏‎ ‎</p>
          <p>Join the revolution.
          </p>

        </div>


          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-md-12 align-content-center" style="padding: 60px;">


                <ul class="list-inline">

                  <li class="list-inline-item" style="padding: 10px;"><a class="nav-link text-white btn-gradDark" href="/available-jobs" style="padding: 1rem 2rem; font-size: initial;">Find
                      Job</a>
                  </li>
              
                  <% if(authenticated){ %>
                    <li class="list-inline-item" style="padding: 10px;"><a class="nav-link text-white btn-grad" href="/create-job" style="padding: 1rem 2rem; font-size: initial;">Create
                        Job</a>

                    </li>
                    <% } else{ %>
                      <li class="list-inline-item" style="padding: 10px;"><a class="nav-link text-white btn-grad" href="/login" style="padding: 1rem 2rem; font-size: initial;">Create Job</a>

                      </li>
                      <% } %>


                </ul>

              </div>
            </div>
          </div>


      </div>
    </div>
  </div>
  <!-- Container End -->
</section>

<section class="gback2" style="padding: 20px;">
  <div class="container" style="max-width: 2000px; padding: 50px;">
    <div class="row" style="padding: 20px;">
      <div class="col-md-12">
        <div>
          <h2 style="text-align: center;">Featured ML Jobs</h2>
          <p style="color: #7302ff; text-align: center; font-size: large;">Featured Labelling Jobs This Week</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- offer 01 -->
      
      <div class="col-lg-12" style="padding: 10px;">
        <div class="trending-ads-slide">
          <% let numJobs %> 
          <% if (allJobs.length > 4) { %>
            <% numJobs = 4 %> 
          <% } else { %>
            <% numJobs = allJobs.length %>
          <% } %>
          <% for( let i = 0; i < numJobs; i++ ) { %>
          <div class="col-sm-12 col-lg-4">
              <!-- product card -->
              <div class="product-item bg-light">
                <div class="card">
                  <div class="thumb-content">
                    <!-- <div class="price">$200</div> -->
                    <a href="/available-jobs">
                      <img class="card-img-top img-fluid" src="<%= allJobs[i].images[0] %> " alt="Card image cap" style="height: 250px;">
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title"><a href="/available-jobs" style="color: #9a02ff;"><%= allJobs[i].title %> </a></h4>
                    <ul class="list-inline product-meta">
                      <li class="list-inline-item">
                        <a href="/available-jobs"><i class="fa fa-folder-open-o"></i>Featured Job</a>
                      </li>
                      <li class="list-inline-item">
                      <a href="#">Credits: <%= allJobs[i].credits %> </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action overly bg-ml-footer section-sm">
  <div class="inner-testimonial">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-8">
        <div class="content-holder">
          <h2 id="testimonialHeader">Testimonials</h2>
          <div class="row-testimonial">
            <div class="col">
              <div class="testimonial">
                <img src="images/p1.png" alt="">
                <div class="name">Elon Musk</div>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

                <p>When the data labelling is important enough, you do it even if the odds of labelling are not in your favor.
                </p>
              </div>
            </div>

            <div class="col">
              <div class="testimonial">
                <img src="images/p3.png" alt="">
                <div class="name">Emilia Clarke</div>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

                <p>
                  I love this website! I cant recommend it any further, it deserves the highest regard in all stations of ML
                </p>
              </div>
            </div>

            <div class="col">
              <div class="testimonial">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNL43FAC2GopKoIZBv6qKiWZjrDT-DP9pkzw&usqp=CAU" alt="">
                <div class="name">Gucci Mane</div>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

                <p>
                  If a man does not have the data labelled, then he is lost. But the same man can be lost in the labelling.</p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
   </div>  
  </div>
</section>
<style>
	.testimonial{
		background: rgba(255, 255, 255, 0.85);
	}
	#testimonialHeader{
		margin-bottom: 3rem;
	}
	.col .testimonial{
		border-radius: 20px;
		border: rgba(255, 255, 255, 0.85);
	}
</style>