<!--<div class="transition transition-3 is-active"></div>
<script src ="../js/transitions.js"></script> -->
<title>Home</title>
<section class="hero-area bg-ml text-center overly">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Header Contetnt -->
        <div class="content-block">
          <h1>Crowd Sourced Data Labelling Marketplace for ML</h1>
          <p>‎‎‎‏‏‎ ‎</p>
          <p>Join the revolution.
            <!-- <br> Data Labelling Martetplace. -->
          </p>
          <div class="short-popular-category-list text-center">
            <!-- <h2>Data Labelling Categories</h2> -->
            <ul class="list-inline">

              <!-- <li class="list-inline-item"><a class="nav-link text-white btn-main3" href="/available-jobs">Find Job</a>
              </li>
  
              <% if(authenticated){ %>
                <li class="list-inline-item"><a class="nav-link text-white btn-main2" href="/create-job">Create Job</a>
                
                </li>
              <% } else{ %>  
                <li class="list-inline-item"><a class="nav-link text-white btn-main2" href="/login">Create Job</a>
                
                </li>
             <% } %> -->


              <!-- <li class="list-inline-item">
                <a href="/available-jobs"><i class="fa fa-plus-circle"></i> Numerical Data</a>
              </li>
              <li class="list-inline-item">
                <a href="/available-jobs"><i class="fa fa-plus-circle"></i> Categorical Data</a>
              </li>
              <li class="list-inline-item">
                <a href="/available-jobs"><i class="fa fa-plus-circle"></i> Time-Series Data</a>
              </li>
              <li class="list-inline-item">
                <a href="/available-jobs"><i class="fa fa-plus-circle"></i> Text Data</a>
              </li>
            <li class="list-inline-item">
              <a href="availableJobs.html"><i class="fa fa-coffee"></i> Cafe</a>
            </li>  -->
            </ul>
          </div>

        </div>
        <!-- Advance Search -->
        <div class="advance-search">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-md-12 align-content-center">
                <!-- <form>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <input type="text" class="form-control my-2 my-lg-1" id="inputtext4"
                        placeholder="Search for a data labeling job:">
                    </div>
                    <div class="form-group col-md-3">
                      <select class="w-100 form-control mt-lg-1 mt-md-2">
                        <option>Job Category</option>
                        <option value="1">Numerical Data</option>
                        <option value="2">Categorical Data</option>
                        <option value="3">Time-Series Data</option>
                        <option value="4">Text Data</option>
                      </select>
                    </div> 
                    
                    <div class="form-group col-md-3">
                      <select class="w-100 form-control mt-lg-1 mt-md-2">
                        <option>No. of Credits</option>
                        <option value="1">0-500</option>
                        <option value="2">500-2000</option>
                        <option value="2">2000+</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2 align-self-center">
                      <button type="submit" class="btn btn-primary">Go</button>
                    </div>
                  </div>
                </form> -->

                <ul class="list-inline">

                  <li class="list-inline-item"><a class="nav-link text-white btn-main3" href="/available-jobs">Find
                      Job</a>
                  </li>

                  <% if(authenticated){ %>
                    <li class="list-inline-item"><a class="nav-link text-white btn-main2" href="/create-job">Create
                        Job</a>

                    </li>
                    <% } else{ %>
                      <li class="list-inline-item"><a class="nav-link text-white btn-main2" href="/login">Create Job</a>

                      </li>
                      <% } %>


                        <!-- <li class="list-inline-item">
                    <a href="/available-jobs"><i class="fa fa-plus-circle"></i> Numerical Data</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="/available-jobs"><i class="fa fa-plus-circle"></i> Categorical Data</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="/available-jobs"><i class="fa fa-plus-circle"></i> Time-Series Data</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="/available-jobs"><i class="fa fa-plus-circle"></i> Text Data</a>
                  </li>
                <li class="list-inline-item">
                  <a href="availableJobs.html"><i class="fa fa-coffee"></i> Cafe</a>
                </li>  -->
                </ul>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Container End -->
</section>

<section class="popular-deals section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>Featured ML Jobs</h2>
          <p>Featured Labelling Jobs This Week</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- offer 01 -->
      
      <div class="col-lg-12">
        <div class="trending-ads-slide">
          <% for( let i = 0; i < 4; i++ ) { %>
          <div class="col-sm-12 col-lg-4">
              <!-- product card -->
              <div class="product-item bg-light">
                <div class="card">
                  <div class="thumb-content">
                    <!-- <div class="price">$200</div> -->
                    <a href="single.html">
                      <img class="card-img-top img-fluid" src="<%= allJobs[i].images[0] %> " alt="Card image cap">
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title"><a href="/available-jobs"><%= allJobs[i].title %> </a></h4>
                    <ul class="list-inline product-meta">
                      <li class="list-inline-item">
                        <a href="/available-jobs"><i class="fa fa-folder-open-o"></i>Images</a>
                      </li>
                      <li class="list-inline-item">
                      <a href="#"><i class="fa fa-dollar"></i><%= allJobs[i].credits %> </a>
                    </li>
                  </ul>
                  <p class="card-text"><%= allJobs[i].description %> </p>
                  <!-- <div class="product-ratings">
                    <ul class="list-inline">
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <% } %>
          
          <!-- <div class="col-sm-12 col-lg-4">
            product card 
            <div class="product-item bg-light">
              <div class="card">
                <div class="thumb-content">
                   <div class="price">$200</div> 
                  <a href="single.html">
                    <img class="card-img-top img-fluid" src="" alt="Card image cap">
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><a href="single.html">Numerical Job</a></h4>
                  <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                      <a href="single.html"><i class="fa fa-folder-open-o"></i>Labelling</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                  </ul>
                  <p class="card-text">Numerical Job Description</p>
                  <div class="product-ratings">
                    <ul class="list-inline">
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-lg-4">
             product card 
            <div class="product-item bg-light">
              <div class="card">
                <div class="thumb-content">
                   <div class="price">$200</div> 
                  <a href="single.html">
                    <img class="card-img-top img-fluid" src="" alt="Card image cap">
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><a href="single.html">Numerical Job</a></h4>
                  <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                      <a href="single.html"><i class="fa fa-folder-open-o"></i>Labelling</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                  </ul>
                  <p class="card-text">Numerical Job Description</p>
                  <div class="product-ratings">
                    <ul class="list-inline">
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-lg-4">
             product card 
            <div class="product-item bg-light">
              <div class="card">
                <div class="thumb-content">
                   <div class="price">$200</div> 
                  <a href="single.html">
                    <img class="card-img-top img-fluid" src="" alt="Card image cap">
                  </a>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><a href="single.html">Numerical Job</a></h4>
                  <ul class="list-inline product-meta">
                    <li class="list-inline-item">
                      <a href="single.html"><i class="fa fa-folder-open-o"></i>Labelling</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#"><i class="fa fa-calendar"></i>26th December</a>
                    </li>
                  </ul>
                  <p class="card-text">Numerical Job Description</p>
                  <div class="product-ratings">
                    <ul class="list-inline">
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action overly bg-ml-footer section-sm">
  <div class="inner-testimonial">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-8">
        <div class="content-holder">
          <h2>Testimonials</h2>
          <div class="row-testimonial">
            <div class="col">
              <div class="testimonial">
                <img src="images/p1.png" alt="">
                <div class="name">Elon Musk</div>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s,
                </p>
              </div>
            </div>

            <div class="col">
              <div class="testimonial">
                <img src="images/p3.png" alt="">
                <div class="name">Emilia Clarke</div>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s,
                </p>
              </div>
            </div>

            <div class="col">
              <div class="testimonial">
                <img src="images/p2.png" alt="">
                <div class="name">Snoop Dogg</div>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>

                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s,
                </p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
   </div>  
  </div>
</section>

