<title>How To Find A Job</title>

<% if (authenticated) { %>
    <%- include('header-registered.ejs',{Firstname: name}) %>
        <% }else{ %>
            <%- include('header.ejs') %>
                <% } %>

                    <link rel="preload" href="https://www.googletagmanager.com/gtm.js?id=GTM-TD6B6GW" as="script">
                    <link rel="preload" href="https://assets.static-upwork.com/vue-libs/vue.2.6.10.min.js" as="script">
                    <link rel="preload" href="https://assets.static-upwork.com/vue-libs/vuex.3.1.0.min.js" as="script">
                    <link rel="preload" href="https://assets.static-upwork.com/vue-libs/runtime.0.12.1.min.js"
                        as="script">
                    <link rel="preload"
                        href="https://assets.static-upwork.com/dev/wf-nav-search/PR-3/1/setup-iife.min.js" as="script">
                    <link rel="preload" href="https://www.upwork.com/i/applet.js" as="script">
                    <link rel="preload"
                        href="https://assets.static-upwork.com/dev/ui-packages/feature/nojira-tracking-cms-poc/5/@upwork/tracking-cms/index.iife.js"
                        as="script">

                    <script src="https://assets.static-upwork.com/vue-libs/vue.2.6.10.min.js" defer></script>
                    <script src="https://assets.static-upwork.com/vue-libs/vuex.3.1.0.min.js" defer></script>
                    <script src="https://assets.static-upwork.com/vue-libs/runtime.0.12.1.min.js" defer></script>
                    <script src="https://assets.static-upwork.com/dev/wf-nav-search/PR-3/1/setup-iife.min.js"
                        defer></script>
                    <script src="https://www.upwork.com/i/applet.js" defer></script>
                    <script
                        src="https://assets.static-upwork.com/dev/ui-packages/feature/nojira-tracking-cms-poc/5/@upwork/tracking-cms/index.iife.js"
                        defer></script>

                    <div class="">
                        <div class="container py-5">
                            <div class="row h-100 align-items-center py-5">
                                <div class="col-lg-6">
                                    <h1 class="display-4">How to Find and Label a Job!</h1>
                                    <p class="lead text-muted mb-0">Here is a step-by-step guide on how to find a job and complete it on
                                        our Platform!
                                    </p>

                                </div>
                                <!-- src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" -->
                                <!-- Placeholder image for screenshots -->
                                <div class="col-lg-6 d-none d-lg-block"><img
                                        
                                        src="https://i.pinimg.com/originals/09/3f/18/093f1861fc92b3a0ba497ece177b27e6.gif"
                                        alt="" class="img-fluid"></div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="bg-light py-5"></div> -->
                    <div class="py-5">
                        <div class="container py-5">
                            <div class="row align-items-center mb-5">
                                <div class="col-lg-6 order-2 order-lg-1"><i
                                        class="fa fa-address-card fa-2x mb-3 text-primary"></i>
                                    <h2 class="font-weight-light">Step 1: Log in!</h2>
                                    <p class="font-italic text-muted mb-4">In order to use our platform for finding a job, it is advisable for you to log in to gain full functionality of our platform but it is not required to view available jobs.
                                        If you haven't already, you can create an account <a type="button"
                                            class="text-reset" style="text-decoration: underline;" href="/register">here.</a>
                                    </p>
                                    <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
                                </div>
                                <!-- placeholder image for screenshots -->
                                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                                        src="https://static.wixstatic.com/media/81f326_ec91b104cdb34e3197004837bf5a8898~mv2.gif"
                                        src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg"
                                        alt="" class="img-fluid mb-4 mb-lg-0">
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <!-- placeholder image for screenshots -->
                                <div class="col-lg-5 px-5 mx-auto"><img
                                        src="/images/how-to/login5.gif"
                                        alt="" class="img-fluid mb-4 mb-lg-0"></div>
                                <div class="col-lg-6">
                                    <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                                    <h2 class="font-weight-light">Step 2: Navigate to the Find a Job Page</h2>
                                    <p class="font-italic text-muted mb-4">Navigating
                                        to the page will allow you to see all available data labelling jobs. You can also sort the jobs based on different filters.
                                    </p>
                                    <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn
                        More</a> -->
                                </div>
                            </div>
                            <div class="container py-5">
                                <div class="row align-items-center mb-5">
                                    <div class="col-lg-6 order-2 order-lg-1"><i
                                            class="fa fa-address-card fa-2x mb-3 text-primary"></i>
                                        <h2 class="font-weight-light">Step 3: Select an available job</h2>
                                        <p class="font-italic text-muted mb-4">Select a data labelling job which you would like to work 
                                            on. You can either accept the job or change your mind and hit cancel and unselect the job.
                                        </p>
                                        <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
                                    </div>
                                    <!-- placeholder image for screenshots -->
                                    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
                                        <img src="https://cliply.co/wp-content/uploads/2019/06/371906220_TYPING_ON_LAPTOP_400px.gif"
                                            alt="" class="img-fluid mb-4 mb-lg-0">
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <!-- placeholder image for screenshots -->
                                <div class="col-lg-5 px-5 mx-auto"><img
                                        src="https://i.pinimg.com/originals/d7/3d/a1/d73da1de105b57de036e62fc45f2a9ae.gif"
                                        alt="" class="img-fluid mb-4 mb-lg-0"></div>
                                <div class="col-lg-6">
                                    <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                                    <h2 class="font-weight-light">Step 4: Accept the Job to work on</h2>
                                    <p class="font-italic text-muted mb-4">You can select accept job to work on the job you have picked out. If you have not already signed in, you will be prompted to. Once you are signed in you will be taken to your dashboard where you can view the selected job under "Accepted Jobs" and work on it.

                                    </p>
                                </div>
                            </div>

                            <div class="container py-5">
                                <div class="row align-items-center mb-5">
                                    <div class="col-lg-6 order-2 order-lg-1"><i
                                            class="fa fa-address-card fa-2x mb-3 text-primary"></i>
                                        <h2 class="font-weight-light">Step 5: Select the job to label under your dashboard!</h2>
                                        <p class="font-italic text-muted mb-4">Select the accepted job in your dashbaord to start the data labelling process. On the labelling page, select a label for each image. 
                                            Once the labelling is complete, you will receive a success message to inform you that the labelling job is completed.
                                        </p>
                                        <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
                                    </div>
                                    <!-- placeholder image for screenshots -->
                                    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
                                        <img src="https://cdn.dribbble.com/users/2268557/screenshots/6698135/12.gif"
                                            alt="" class="img-fluid mb-4 mb-lg-0">
                                    </div>
                                </div>
                            </div>

                        </div>
                        </div>

                        <% if (authenticated) { %>
                            <%- include('footer.ejs') %>
                                <% }else{ %>
                                    <%- include('footer-unregistered.ejs') %>
                                        <% } %>