<title>Login</title>

<%- include('header') %>
<!--<script src ="../js/transitions.js"></script>
<div class="transition transition-2 is-active"></div>  --->

<style>

    /* html, body{
        background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
        background-repeat:no-repeat;
        height: 100%;
        background-size: cover;
        background-origin: content-box;
    }
    */
    </style> 

    <section class="login py-5 border-top-1 gback2" >
        <div class="wrapper fadeInDown">
            <div class="row justify-content-center">
                <div class="align-item-center">
                    
                        <div id="formContent" style="padding-top: 30px;">
                        <h3>Login</h3>
                        <form action="/login" method="POST">
                            <!-- Runned the 'typeof' check because sometime we don't send a status (check unprotected.js for example) -->
                        <% if(typeof status == 'boolean' && status) { %>
                            <div class="my-5 alert alert-success" role="alert">
                                Registered Successfully!
                            </div>
                        <% } %>
                            <fieldset class="p-4" style="padding: inherit;">
                                <input type="text" id="email" placeholder="Email" class="type-1 border p-3 w-100 my-2"
                                    name="email" required />
                               
                                <input type="password" id="password" placeholder="Password"
                                    class="type-1 border p-3 w-100 my-2" name="password" required />
                                <div class="loggedin-forgot">
                                    
                                </div>
                                <button type="submit" id="btnLogin"
                                    class="py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3 popover-test">
                                    Log in
                                </button>
                                <% if(messages.error) { %>
                                    <div class="my-5 alert alert-warning" role="alert">
                                        Incorrect Password or Email Address!
                                    </div>
                                <% } %>
                                    <div id="formFooter">

                                       <!--- <a class="underlineHover" href="#">Forget Password?</a> -->
                                        <a class="underlineHover" href="/register">Dont Have An
                                            Account? Register
                                            Now</a>
                                        </div>
                            </fieldset>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('footer-unregistered') %>