<%- include('header') %>
<section class="login py-5 border-top-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8 align-item-center">
          <div class="border border">
            <h3 class="bg-gray p-4">Register </h3>
            <form action="/register" method="POST">
              <fieldset class="p-4">

                <input type="email" name=email id="email" placeholder="Email*" class="border p-3 w-100 my-2"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                  title="Must match the following format: 'johndoe@gmail.com'" required>
                <input type="password" name=password id="password" placeholder="Password*"
                  class="border p-3 w-100 my-2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                  required name="password">
                <input type="password" id="confirmPassword" placeholder="Confirm Password*"
                  class="border p-3 w-100 my-2" required name="password_confirm" oninput="check(this)">
                <script language='javascript' type='text/javascript'>
                  function check(input) {
                    if (input.value != document.getElementById('password').value) {
                      input.setCustomValidity('Password Must be Matching.');
                    } else {
                      // input is valid -- reset the error message
                      input.setCustomValidity('');
                    }
                  }
                </script>
                <div class="loggedin-forgot d-inline-flex my-3">
                  <input type="checkbox" id="registering" class="mt-1" required>
                  <label for="registering" class="px-2">By registering, you accept our <a
                      class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions </a></label>
                </div>
                <button type="submit" id="btnRegister"
                  class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register
                  </button>
                  <a class="mt-3 d-inline-block text-primary" href="/login">Already Have An Account? Login Now</a>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include('footer-unregistered') %>