<title>Edit Profile</title>

<%- include('header-registered.ejs',{Firstname: name}) %>

<section class="user-profile section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar" style="align-items: center;">
                    <!-- User Widget -->
                    <div class="widget user" style="align-items: center;">
                        <!-- User Image -->
                        <div class="image d-flex justify-content-center">
                            <img src="images/user/user-thumb.jpg" alt="" class="">
                        </div>
                        <!-- User Name -->
                        <h5 class="text-center"><%= name %> </h5>
                        <a href="/dashboard" class="btn btn-primary mt-2" style="margin-left: 12;">Profile Dashboard</a>
                    </div>
                    <!-- Dashboard Links -->
                    
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>Edit profile</h2>
                    <p></p>
                </div>
                <!-- Edit Personal Info -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget personal-info">
                            <h3 class="widget-header user">Edit Personal Information</h3>
                            <form action="#">
                                <!-- First Name -->
                                <div class="form-group">
                                    <label for="first-name">Name</label>
                                    <input type="text" class="form-control" id="first-name" value="<%= name %>">
                                </div>
                                <!-- File chooser -->
                                <div class="form-group choose-file">
                                    <i class="fa fa-user text-center px-3"></i>
                                    <label for="first-name"> Profile Picture</label>
                                    <input type="file" class="form-control-file mt-2 pt-1" id="input-file">
                                </div>
                                <!-- Submit button -->
                                <button class="btn btn-primary">Save My Changes</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Change Password -->
                        <div class="widget change-password">
                            <h3 class="widget-header user">Edit Password</h3>
                            <form action="#">
                                <!-- Current Password -->
                                <div class="form-group">
                                    <label for="current-password">Current Password</label>
                                    <input type="password" class="form-control" id="current-password">
                                </div>
                                <!-- New Password -->
                                <div class="form-group">
                                    <label for="new-password">New Password</label>
                                    <input type="password" class="form-control" id="new-password">
                                </div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                    <label for="confirm-password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirm-password">
                                </div>
                                <!-- Submit Button -->
                                <button class="btn btn-primary">Change Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('footer') %> 