@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-image: url(../css/bg.jpg);
    background-size: cover;
    color: #fff;
}

header{
    width: 100%;
    float: right;
    height: 60px;
    line-height: 60px;
}

ul{
    list-style-type: none;
    display: flex;
    width: 70%;
    justify-content: space-around;
}

ul li{
    font-size: 18px;
    font-weight: 700;
}

ul li:hover{
    color: #336699;
}

.container{
    padding: 20px
}

.site-info{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    border: 2px solid #20b0d4;
    padding: 10px 20px;
    width: 300px;
    font-size: 36px;
    color: #2b80e8;
    border-radius: 5px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.sub-title{
    font-size: 28px;
    letter-spacing: 6px;
    padding: 10px 0;
}

footer{
    position: relative;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.social{
    padding-left: 20px;

}

.social i{
    font-size: 18px;
    padding-right: 15px;
}

.copyright{
    font-size: 16px;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    
}